body{
    margin: 0;
    padding: 0;  
    color:white;
}
main{
    
    justify-content: center;
    align-items: center;
}
img{
    height: 206px;
    width: 52%;
    border-radius: 10px;
   
}


p{
    text-align: justify;
    font-size: 24px;
    margin-right: 3em;
}

h1{
    font-size: 4em;
    position:static;
    font-family: 'Bangers', cursive;
    color: #3f4b3a;  

}
.titulo{
    background-color: whitesmoke;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;       
    
}

.imagens{    
    background-image: linear-gradient(to right, pink,violet, blue);
        
    display: flex;
    align-content: center;
    padding: 4em;
}
.imagens .grid{
    display: grid; /* põe as imagens numa grade com linhas e colunas*/
    grid-template-columns: repeat(2, 45%);/* Divide em duas colunas com tamanho iguais*/
    gap: 2.5em; /* Distancia entre os elementos na grid*/
}


.caixa-img{
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    margin-left: 1em;
    width: 545px;
    height: 206px;
    border-radius: 10px;

}